body,html {
	font-family: Arial, Helvetica, sans-serif;
	padding: 0px;
	margin: 0px;
	height: 100%;
	width: 100%;
}

#header {
	background-color: #333333;
	margin: 0px;
	top: 0px;
	left: 0px;
	padding: 10px;
}

#header h1 {
	color: #FFFFFF;
}

#content {
	padding: 10px;
	color: #FF0000;
}